
$light-green: #91ffad;
$dark-green: #2f6334;
$yellow: #f3fbad;
$pink: #f6adfb;
$dark-blue: #3f4b9f;
$white: #fff;
$black: #000;
$service-background: #212121;
$underline: #e2e2e2;

$color-menu: #404040;
$color-menu-active: #616161;
$text-grey: #939393;
$color-portfolio-subtitle: #a9a9a9;

$font-size-title-home: 88px;
$lh-title-home: 1.15;

$font-size-title-article: 60px;
$lh-title-article: 1;

$font-size-title-modal: 36px;
$lh-title-modal: 1.23;

$font-size-title: 24px;
$lh-title: 1.55;

$font-size-article: 24px;
$lh-article: 1;

$font-size-description: 18px;
$lh-description: 1.22;

$font-size-menu-item: 16px;
$lh-menu-item: 1;

$font-size-subtitle: 14px;
$lh-subtitle: 1.17;

$font-family: 'Kharkiv',Arial,sans-serif;
$font-family-arial: Arial,sans-serif;
$font-weight-bold: 500;
$font-weight-menu-item: 400;
$font-weight-normal: 300;
$font-weight-lite: 100;

$extraSmall-width: 479px;
$small-width: 639px;
$medium-width: 960px;
$large-width: 979px;
$extraLarge-width: 1199px;
