@use '../../sass/index' as *;

.service {
  padding-bottom: 11rem;
  &--description {
    padding: 7rem 40px 5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include medium {
      align-items: flex-start;
      flex-direction: column;
      padding-bottom: 0;
    }

    @include extra-small{
      padding: 7rem 10px 0;
    }

    &::after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $underline;
      opacity: 0.5;
      height: 2px;
      width: 100%;
    }
  }

  &--title{
    font-size: $font-size-title-article;
    line-height: $lh-title-article;
    font-weight: $font-weight-normal;
  }

  &--subtitle{
    flex: 0 0 550px;
    font-family: $font-family-arial;
    font-weight: $font-weight-lite;
    font-size: $font-size-description;
    line-height: $lh-description;
    opacity: 0.7;

    @include medium {
      flex: 1;
      margin-top: 1.5rem;
      margin-bottom: 3rem;
    }
  }
}